<div class="page-header">
  <h1><%=t '.title' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('.id') %></th>
      <th><%= t('.user_id') %></th>
      <th><%= t('.email') %></th>
      <th><%= t('.pay_type') %></th>
      <th><%= t('.status') %></th>
      <th><%= t('.created_at') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.user.name %></td>
        <td><%= order.user.email %></td>
        <td><%= order.pay_type %></td>
        <td><%= t ".#{order.status}" %></td>
        <td><%=l order.created_at %></td>
        <td>
          <%= link_to t('.show'), order_path(order), :class => 'btn btn-mini' %>
          <%= link_to t('.edit'),
                      edit_order_path(order), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy'), order_path(order), :method => :delete,
                      :data => { :confirm => t('.confirm') },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>