<div class="page-header">
  <h1><%=t '.title' %></h1>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th><%= t('.name') %></th>
			<th></th>
			<th><%= t('.quantity') %></th>
			<th><%= t('.price') %></th>
		</tr>
	</thead>
	<tbody>
		<%= render(cart.order_details) %>

		<tr class="total_line">
			<td colspan="3"><%= t('.sum') %></td>
			<td class="total_cell"><%= number_to_currency(cart.total_price) %><td>
		</tr>
	</tbody>
</table>

<div class="form-actions">
<%= button_to t('carts.action.checkout'), new_order_path, method: :get,
	:class => 'btn btn-primary' %>
<%= button_to t('carts.action.empty'), cart, method: :delete,
  data: { confirm: t('carts.dialog.confirm') }, :class => 'btn btn-danger' %>
</div>